/* okej så, HTML-validate verkar verkligen inte gilla inline styles eller table tags som tr, th och td. samt så är det mesta här säkert lite fel men det var för att jag ba' "ah en till uppgift" kollade på bilden och började försöka kopiera den istället för att läsa igenom w3chools webbsidorna som var länkade, sorry.*/

body{
    background-image:url(./img/winter-snow.jpg);
}

.title{
    border: solid;
    border-width: 10px;
    border-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    color:aliceblue;
    background-color:dimgray;
    font-family: 'ADLaM Display';
}

.ledig{
    color:aliceblue;
    background-color:dimgray;
    border: solid;
    border-width: 1px;
    border-color: yellow;
    margin-top: 2px;   
    margin-left:35%;
    margin-right:35%;
    padding-right:13%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: square;
    text-align:left;
}

.jul{
color:red;
background-color: white;
}

.nyar{
background-color: goldenrod;
}

.table{
margin-top:5%;   
border:solid;
border-color:black;
border-width:5px;
margin-left:25%;
margin-right:22%;
}

table{  
margin:3px;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;   
border-collapse:collapse;
text-align:center;
}

tr,th{
border:solid;
    border-color:red;
  background-color: lightgray;  
}

td{
    border:solid;
    border-color:red;
background-color:beige;
font-family:'ADlaM Display';
}

.img{
    margin-top:5%;   
border:solid;
border-color:black;
border-width:5px;
margin-left:30%;
margin-right:30%;
     display:flex;
    flex-direction:row;
    justify-content:center;
}